{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended"
  ],
  "parser": "@babel/eslint-parser",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-expressions": "off",
    // Prettier do this
    "react/no-unescaped-entities": "off",
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "react/function-component-definition": [
      1,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    // Allow jsx syntax inside .js files for Tests
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          "jsx"
        ]
      }
    ],
    // Allow import packages from Dev Dependencies in Tests files
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.spec.js",
          "**/setupTests.js",
          "**/utils/tests/*.js"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}